.fondo-menu {
	background-color: #1a2226 !important;
	border: none;
}
.contenedor-formulario {
	background-color: #f2f6fc ;
	padding: 5px;
	width: 100%;
	overflow: hidden;
	justify-content: inherit;
}
.contenido {
	margin: 1em;
	padding: 1em;
	background-color: #ffffff ;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	text-align: justify;
}
.menu * {
	color: white !important;
}

.user-session * {
	margin-top: 15px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 1px solid #000000;
}
.banner-modal {
	background:#3c8dbc;
	border-color: #3c8dbc;	
}
.letter-modal {
	text-align: center;
	color:white;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.lb-listcell *{
	color: black;
}
.lb-listheader *{
	background: #0078ff;
	color:#FFFFFF
}
.btn-size {
    padding: 0 10 0 10;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .2rem
}

/*boton editar*/
.btn-editar {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc
}

.btn-editar:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-editar.focus,
.btn-editar:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-editar.disabled,
.btn-editar:disabled {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc
}

.btn-editar:not(:disabled):not(.disabled).active,
.btn-editar:not(:disabled):not(.disabled):active,
.show>.btn-editar.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}

.btn-editar:not(:disabled):not(.disabled).active:focus,
.btn-editar:not(:disabled):not(.disabled):active:focus,
.show>.btn-editar.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}
/*boton publicar*/
.btn-publicar {
    color: #fff;
    background-color: #00AD00;
    border-color: #3c8dbc
}

.btn-publicar:hover {
    color: #fff;
    background-color: #3CD83C;
    border-color: #0062cc
}

.btn-publicar.focus,
.btn-publicar:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-publicar.disabled,
.btn-publicar:disabled {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc
}

.btn-publicar:not(:disabled):not(.disabled).active,
.btn-publicar:not(:disabled):not(.disabled):active,
.show>.btn-publicar.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}

.btn-publicar:not(:disabled):not(.disabled).active:focus,
.btn-publicar:not(:disabled):not(.disabled):active:focus,
.show>.btn-publicar.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}